<h2 class="display-2 col-12"> DASHBOARD</h2>

<h3 class="display-4 col-12"> {{author}}</h3>

<h4 class="col-12"> RECENT POSTS</h4>

<div class="col-12">
    <a href="/dashboard/{{author}}/post/">
        <button>
            <h3>MAKE A NEW POST</h3>
        </button>
    </a>
</div>

 <!-- loop through articles and display the data in each on in the article partial -->
{{#each articles as |article| }}
    <div class="col-12 col-md-6 col-lg-4">
        <section class="card">

            {{> article }}

            <a href='/dashboard/article/update/{{id}}'>
                <button data-id="{{id}}" id="update">
                    UPDATE
                </button> 
            </a>
                <button data-id="{{id}}" id="delete">DELETE</button>
        </section>
    </div>
{{/each}}


 <!-- if there are any articles, load the script to run delete request--> 
{{#if articles}}
 <script src="/js/delete.js"></script>
{{/if}}



